### This ensures sensitive files like .env, venv, and db.sqlite3 are never pushed to GitHub.

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
ENV/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
